* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	line-height: 1;
}
body {
	margin: 0;
	font-family: 'Rubik', sans-serif;
	color: #2C3543;
}
a {
	text-decoration: none;
	color: #297CBB;
}
a:hover {
	text-decoration: underline;
}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
h3 {
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 16px;
}
.container {
	width: 100%;
	max-width: 1290px;
	margin: 0 auto;
	padding: 0 24px;
}
.RelatedContent {
	margin: 64px 0;
}
.Cards {
	display: flex;
	flex-wrap: wrap;
	margin-left: -32px;
}
.CardPreview {
	width: 33.33%;
	padding-left: 32px;
}
.CardPreview img {
	width: 100%;
	border-radius: 6px;
}
.caption {
	margin-top: 8px;
}
.category {
	font-size: 12px;
	font-weight: 500;
	color: #297CBB;
	text-transform: uppercase;
	margin-bottom: 8px;
}
.category .time {
	color: #6B727B;
}
.title{
	font-size: 20px;
	font-weight: 400;
	line-height: 1.2;
}
